<mat-tab-group>
  <mat-tab label="Przyporządkuj znakom sylaby">
    <app-assigning-component></app-assigning-component>
  </mat-tab>
  <mat-tab label="Zobacz bieżące przyporządkowanie">
    <app-read-symbols-component></app-read-symbols-component>
  </mat-tab>
  <mat-tab label="Pokaż możliwe do utworzenia wyrazy">
    <app-read-words-component></app-read-words-component>
  </mat-tab>
  <mat-tab label="Info">
    <h3>Autorzy projektu</h3>
    Piotr Pękala, Krzysztof Taborowski, Jakub Sobyra, Wojciech Lebiest
  </mat-tab>
</mat-tab-group>
